.game-list {
    margin-top: 50px;
  }
  
  .game-list h2 {
    margin-bottom: 20px;
  }
  
  .game-list ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .game-list li {
    width: 30%;
    margin-bottom: 40px;
  }
  
  .game-list li img {
    width: 100%;
  }
  
  .game-list li h3 {
    margin-top: 10px;
    font-size: 1.2rem;
  }
  
  .game-list li p {
    margin-top: 10px;
  }
  